.grid-container {
  margin: 10% auto;
}

button {
  margin: 2px;
}

.pathfinder-btn-container {
  display: flex;
  justify-content: center;
}

.dfs .bfs-btn,
.dfs .dijkstras-btn {
  display: none;
}
.bfs .dfs-btn,
.bfs .dijkstras-btn {
  display: none;
}
.dijkstras .bfs-btn,
.dijkstras .dfs-btn {
  display: none;
}
